.ChildrenTableGift__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.ChildrenTableRow__childName {
  font-weight: bold;
}

.ChldrenTableRow__action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
